# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
release
*.local

# Binary installers (Uploaded via GitHub Releases, ignored in git repo to prevent 100MB limit errors)
public/downloads/
*.exe
*.dmg
*.zip

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
